{
  "queryShowAvatarEnable": true,
  "baiduTranslateEnable": true,
  "baiduTranslateAppId": "",
  "baiduTranslateKey": "",
  "baiduTranslateCacheEnable": false,
  "apiTimeoutSeconds": 10,
  "preferVtcmMileage": true,
  "enableBindFeature": true,
  "dlcListImage": false,
  "tmpQueryType": 1,
  "tmpTrafficType": 1
}